<mds-header></mds-header>
<div class="container-lg mt-4 mb-4">
  <router-outlet></router-outlet>
</div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="text-muted col-4">
        Created by <a class="text-decoration-none" href="https://github.com/mikeyoon/" target="_blank">Mike Yoon</a>
      </div>
      <div class="offset-4 col-4 text-end">
        <a class="text-decoration-none" href="/about">About</a>
      </div>
    </div>
  </div>
</footer>
