html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height plus padding */
  margin-bottom: 80px;
  min-height: 100%;
}

.btn-link {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

textarea {
  border-radius: 3px;
  padding: 7px 8px;
}

a:hover {
  text-decoration: none;
}

.journal-entry {
  overflow-x: auto;

  p {
    margin: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.card.panel-default {
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .card-body {
    padding: 10px 15px;
  }

  .list-group-item {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    font-size: .9rem;
  }
}

.pager {
  margin: 10px 0;
  list-style: none;
  text-align: center;
  padding: 0;

  li {
    display: inline;

    &.previous a {
      float: left;
    }

    &.next a {
      float: right;
    }
    
    .btn-link {
      padding: 0;
    }
  }
}

.daypicker-container {
  z-index: 1;
  background: white;
  border: 1px solid #AEAEAE;
  box-shadow: 0 0 4px 1px #DEDEDE;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #eee;
}

.journal-header {
  svg {
    height: 24px;
    vertical-align: top;
  }

  .date-toggle {
    padding: 0;
    margin-left: 4px;
    margin-right: 4px;
  }

  h2 {
    font-weight: 400;
    width: 315px;
  }
}

.journal {
  .btn-journal-delete {
    position: absolute;
    right: 16px;
    top: calc(50% - 12px);
    height: 24px;
    width: 24px;
    padding: 0;

    svg {
      margin-bottom: 3.5px;
    }
  }

  .card {
    background-color: #FBFCFB;

    .card-body {
      padding: 16px;
    }
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 768px) {
  .journal-header {
    .btn-link {
      height: 32px;

      svg {
        height: 18px;
        vertical-align: top;
      }
    }

    h2 {
      width: 250px;
    }
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  .container .text-muted {
    margin: 10px 0;
  }

  .footer {
    height: 40px;
  }
}