.journal-header svg {
  height: 24px;
  vertical-align: top;
}

.journal-header .date-toggle {
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.journal-header h2 {
  font-weight: 400;
  width: 315px;
}

ul.pager {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.pager li {
  list-style: none;
}

.pager li a {
  text-decoration: none;
}

.pager li a.disabled {
  cursor: not-allowed;
}

.card {
  position: relative;
}

.card.panel-default .list-group {
  border-top: none;
}

.card.panel-default {
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.card.panel-default:not(:last-of-type) {
  margin-bottom: 20px;
}

.card.panel-default .card-body {
  padding: 10px 15px;
}

.card.panel-default .list-group-item {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px 15px;
  font-size: .9rem;
}

.card.panel-default .list-group-item:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.btn-journal-delete {
  position: absolute;
  display: flex;
  right: 14px;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 25px;
}

.card a:not(:hover) {
  text-decoration: none;
}
