@import url('/dist/bootstrap.min.css');

.journal-header svg {
  height: 24px;
  vertical-align: top;
}

.journal-header .date-toggle {
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.journal-header h2 {
  font-weight: 400;
  width: 315px;
}

.card {
  position: relative;
}

.btn-journal-delete {
  position: absolute;
  right: 14px;
  top: calc(50% - 16px);
}