<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/journal">
      My Daily Stuff
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
      [click]="this.toggleCollapsedMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbar" [classes]="{ collapse: !this.showCollapsedMenu }">
      <ul class="navbar-nav mr-auto me-auto">
        <li class="nav-item" [if]="this.isLoggedIn">
          <!-- Logged in -->
            <form
            class="form-inline my-2 my-lg-0"
              role="search"
              [submit]="this.handleSearch"
            >
              <div class="input-group">
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search"
                  [value]="query"
                  [onChange]="updateQueryText(e.target.value)"
                  [keypress]="this.handleSearchKeyDown"
                />
                <button type="submit" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </div>
            </form>
          <!-- Logged in -->
        </li>
      </ul>

      <ul class="nav navbar-nav d-flex">
        <!-- Logged in -->
          <li class="dropdown" [if]="this.isLoggedIn" [classes]="{ show: this.isDropdownOpen }" [click]="this.toggleDropdown()">
            <a
              class="btn btn-link nav-link dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span [content]="this.email"></span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <a class="dropdown-item" href="/profile">
                My Profile
              </a>
              <a
                class="dropdown-item"
                href="#"
                [click]="this.logout(event)"
              >
                Logout
              </a>
            </div>
          </li>
        <!-- Logged in -->
        <!-- Logged out -->
          <li class="nav-item" key="Login" [if]="!this.isLoggedIn">
            <a class="nav-link" href="/login">
              Login
            </a>
          </li>
          <li class="nav-item" key="Register" [if]="!this.isLoggedIn">
            <a class="nav-link" href="/register">
              Register
            </a>
          </li>
        <!-- Logged out -->
      </ul>
    </div>
  </div>

</nav>